
<div id="mixed_content">
    <%= render :partial => 'content_editor', :collection => collection, :locals => {:object_name => object_name} %>
</div>

<div class="new_content">
<%= select nil, 'new_content_selector', container.send(:"#{association_name}_mixed_content_types"), { :allow_blank => true}, :onchange => 'newContent();', :id => 'new_content_selector' %>
</div>
